@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}

/* text */
h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
}

h2 {
  margin: 0 0 .5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 .5em 0;
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a.btn {
  font-size: 1.2em;
  border: 1px solid white;
  padding: 4px 15px;
  transition: background-color .5s;
}

a.btn:hover {
  background-color: #3b4e5b;
}

/* header */
header {
  height: 557px;
  background: #3b4e5b url(../images/header-bg.png) no-repeat center bottom;
  position: relative;;
}

header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 150px;
  height: 65px;
  background: url(../images/logo.png) no-repeat 0 0;
  background-size: contain;
  top: 10%;
  left: 10%;
}

header a.logo span {
  display: none;
}

header div.hero {
  position: absolute;
  width: 60%;
  top: 55%;
  left: 10%;
}

header div.hero h1 {
  line-height: 1em;
  margin: 0 0 30px 0;
  color: white;
}

/* section all */
section {
  padding: 0 30px;
}

section::after {
  content: '';
  display: block;
  clear: both;
}

/* section what we do */
section.what-we-do {
  padding: 30px 70px;
}

section.what-we-do article {
  padding: 0 0 0 60%;
  background: url(../images/manakn.png) no-repeat 5% 30%;
  min-height: 220px;
}

section.what-we-do article h1 {
  color: #3b4e5b;
}

/* section testimonial */

section.testimonials {
  height: 595px;
  background: #d8f2c7 url(../images/testemonials_full.jpg) no-repeat center bottom;
  position: relative;;
}

section.testimonials article {
  color: #3b4e5b;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

section.testimonials article {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

section.testimonials article blockquote {
  display: block;
  margin-bottom: 15px;
}

.martin-luther-king-jr-img {
  background: url(../images/martin-luther-king-jr.png) no-repeat 0 20px;
}

.charles-darwin-img {
  background: url(../images/charles-darwin.png) no-repeat 0 20px;
}

section.testimonials article.content blockquote p {
  margin: 5px 5px 20px 150px;
}

section.testimonials article.content blockquote p.credit {
  color: darkslategrey;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2em;
}

section.testimonials article.content blockquote p.credit small {
  font-size: small;
}

/** section product */
section.product {
  height: 509px;
  padding-top: 50px;
}

section.product article {
  float: right;
  padding-left: 5%;
  background: url(../images/iphone.png) no-repeat 820px 0;
  min-height: 700px;
}

section.product article p {
  width: 55%;
}

section.product article img {
  padding-top: 30px;
}

/* section contact-us */
section.contact-us {
  background-color: #3b4e5b;
}

section.contact-us article {
  padding: 0 5% 1%;
}

section.contact-us article .content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

section.contact-us article h1 {
  color: #d8f2c7;
}

section.contact-us article p {
  color: white;
}

section.contact-us div.contact-row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 15%;
}

section.contact-us aside {
  width: 33%;
  float: left;
  text-align: center;
}

section.contact-us aside h3 {
  color: #d8f2c7;
}

section.contact-us aside p {
  color: white;
  margin-bottom: 0;
}

section.contact-us .content {
  margin: 15px;
  background: no-repeat center top;
  background-size: 50px 41px;
  padding-top: 45px;
}

section.contact-us aside .content.contact-email {
  background-image: url(../images/email.png);
  background-size: 41px 41px;
}

section.contact-us aside .content.contact-location {
  background-image: url(../images/location.png);
  background-size: 41px 41px;
}

section.contact-us aside .content.contact-phone {
  background-image: url(../images/phone.png);
  background-size: 41px 41px;
}

/* navigation */
nav {
  background-color: transparent;
  position: absolute;;
  top: 0;
  left: 0;
  padding: 80px 0 0 0;
  width: 100%;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  position: relative;;
}

nav ul li a:hover {
  background-color: #3b4e5b;
  border-radius: 25px;
}

nav ul li a:active {
  background-color: #3b4e5b;
}

nav > ul {
  padding-left: 630px;
}

nav > ul > li {
  float: left;
}

/* footer */
footer {
  padding: 1%;
  text-align: center;
}

footer h4 {
  margin-bottom: 0;
}

/* media queries */

/* Tablet landscape */
@media screen and (max-width: 1024px) {
  /* nav */
  nav > ul {
    padding-left: 40%;
  }

  /* header */
  header a.logo {
    width: 35%;
    left: 3%;
  }
  header div.hero {
    left: 3%;
  }

  /* what we do section */
  section.what-we-do article {
    padding: 0 0 0 360px;
    background-size: 340px auto;
    background-position: 0 80px;
    min-height: 320px;
  }

  /* testimonials section */
  section.testimonials {
    height: 400px;
  }
  section.testimonials article.content {
    width: 85%;
  }

  /* product */
  section.product {
    padding-left: 10px;
    padding-right: 0;
  }
  section.product article img {
    height: 60px;
  }
  section.product article {
    background-position: 96% 50px;
    background-size: 350px auto;
    margin-bottom: 0;
  }

  /* contact us section */
  section.contact-us article {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  /* nav */
  nav {
    padding: 40px 0 0 0;
  }
  nav > ul {
    padding-left: 25%;
  }
  nav ul li a {
    font-size: .9em;
  }

  /* header */
  header {
    background-size: 768px auto;
    height: 300px;
  }
  header a.logo {
    width: 150px;
    height: 50px;
    left: 6%;
  }
  header div.hero {
    width: auto;
    top: 50%;
    left: 6%;
  }
  header div.hero h1 {
    margin-bottom: .5em;
  }
  a.btn {
    font-size: 1em;
  }

  /* what we do section */
  section.what-we-do article {
    padding: 10px 0 0 0;
    background-size: 180px auto;
    background-position: 420px top;
    min-height: 300px;
  }

  /* testimonials section */
  section.testimonials article.content {
    width: 95%;
  }

  /* product section */
  section.product {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 0;
    height: 550px;
  }
  section.product article {
    background-size: 250px auto;
    padding-top: 20px;
    margin-bottom: 0;
    min-height: 400px;
  }
  section.product article p {
    width: 62%;
  }
  section.product article img {
    height: 50px;
  }

  /* contact us section */
  section.contact-us article {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  section.contact-us aside .content.contact-email {
    background-size: 30px 30px;
  }
  section.contact-us aside .content.contact-location {
    background-size: 30px 30px;
  }
  section.contact-us aside .content.contact-phone {
    background-size: 30px 30px;
  }
}

@media screen and (max-width: 667px) {
  /* nav */
  nav {
    padding: 50px 0 0 0;
  }
  nav > ul {
    padding-left: 25%;
  }
  nav ul li a {
    font-size: .7em;
  }

  /* what we do section */
  section.what-we-do {
    padding-left: 30px;
  }
  section.what-we-do article {
    padding: 40px 0 0 0;
    background-size: 200px auto;
    background-position: right top;
  }

  /* testimonials section */
  section.testimonials {
    padding: 10px;
  }

  /* product section */
  section.product {
    padding: 0;
    height: 600px;
  }
  section.product article {
    background-position: 98% 50px;
    background-size: 260px auto;
    padding-right: 0;
  }
  section.product article p {
    width: 58%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1em;
  }
  h3 {
    font-size: .9em;
  }
  a.btn {
    font-size: .7em;
  }

  /* header */
  header {
    background-size: 600px auto;
    height: 260px;
    background-position: right top;
  }
  header a.logo {
    width: 200px;
    top: 15px;
  }
  header div.hero {
    width: 50%;
    top: 170px;
  }
  header div.hero h1 {
    margin-bottom: 15px;
  }

  /* what we do section */
  section.what-we-do article {
    padding: 40px 0 0 0;
    background-size: 150px auto;
    min-height: initial;
  }

  /* testimonials section */
  section.testimonials {
    margin: 0;
    padding: 0;
    max-height: 300px;
  }
  section.testimonials article.content blockquote p.credit {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  /* product section */
  section.product article p {
    width: 55%;
  }

  /* contact us section */
  section.contact-us aside {
    width: 100%;
    float: none;
    text-align: left;
  }
  section.contact-us aside .content.contact-location p {
    margin: 0;
  }
  section.contact-us div.contact-row {
    width: 100%;
    padding-bottom: 1%;
  }
  section.contact-us aside div.content {
    margin: 8px 20px 8px 0;
    padding: 5px 0 10px 120px;
    background-size: 20px 20px;
    background-position: 60px 5px;
  }

  /* nav */
  nav {
    margin: 0;
  }
  nav > ul {
    padding: 50px 35px;
  }

  /* footer */
  footer {
    margin: 0;
    padding: 0;
  }
  footer h1 {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  header {
    background-size: 568px auto;
    height: 260px;
    background-position: right top;
  }

  /* product section */
  section.product {
    height: 670px;
  }
  section.product article p {
    width: 50%;
  }
  section.product article img {
    padding-top: 0;
    height: 45px;
  }

  nav > ul > li {
    float: left;
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: .8em;
  }
  h3 {
    font-size: .6em;
  }

  /* header */
  header {
    background-size: 480px auto;
    height: 260px;
    background-position: left top;
  }
  header a.logo {
    left: 250px;
    margin-right: 0;
  }
  header div.hero {
    width: 50%;
    left: 233px;
    top: 150px;
  }
  header div.hero h1 {
    margin-bottom: 15px;
    font-size: 1em;
  }
  a.btn {
    font-size: .9em;
  }

  /* what we do section */
  section.what-we-do {
    margin: 0;
    padding: 5px 20px;
  }
  section.what-we-do article {
    padding: 50px 0 0 0;
  }

  /* testimonials section */
  section.testimonials {
    height: 260px;
    padding-bottom: 0;
  }
  section.testimonials article {
    padding: 15px 0;
  }
  section.testimonials article.content {
    width: 100%;
  }
  section.testimonials article.content blockquote p.credit {
    font-size: 1em;
    line-height: 1em;
  }

  /* product section */
  section.product {
    height: 700px;
    padding: 0;
    float: none;
  }
  section.product article {
    padding: 10px;
    background-position: 98% 400px;
    background-size: 260px auto;
    height: 650px;
  }
  section.product article p {

    width: 100%;
  }
  section.product article img {
    height: 40px;
    padding: 0;
  }
  section.product article {
    padding-top: 40px;
    background-size: 180px auto;
  }

  /* nav section */
  nav {
    width: 250px;
  }
  nav > ul {
    padding: 0 25px;
  }
  nav > ul > li {
    float: none;
    font-size: .8em;
  }
}

@media screen and (max-width: 414px) {
  /* header */
  header {
    background-size: 414px auto;
    height: 250px;
    background-position: left top;
  }
  header a.logo {
    top: 25px;
    width: 100px;
  }
  header div.hero {
    left: 190px;
    top: 120px;
    width: 50%;
  }

  /* testimonials */
  section.testimonials {
    height: 330px;
  }
  section.testimonials article .content blockquote {
    background-position: 110px top;
  }
  section.testimonials article.content blockquote p.credit {
    font-size: .8em;
    line-height: .8em;
  }
  section.testimonials article.content blockquote p.quote {
    font-size: 1em;
    line-height: 1em;
  }

  /* product section */
  section.product article {
    background-position: 200px 445px;
    height: 680px;
  }
}

@media screen and (max-width: 384px) {
  /* header */
  a.btn {
    font-size: .6em;
  }
  header a.logo {
    left: 220px;
    top: 30px;
  }
  header div.hero {
    left: 150px;
    top: 130px;
  }

  section.testimonials {
    height: 400px;
  }

  section.product {
    height: 700px;
  }
  section.product article {
    background-position: 99% 450px;
    height: 690px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: .8em;
  }
  h3 {
    font-size: .6em;
  }
  h4 {
    font-size: .6em;
  }

  /* header */
  a.btn {
    font-size: .6em;
  }
  header {
    background-size: 375px auto;
    height: 200px;
    background-position: left top;
  }
  header a.logo {
    left: 220px;
    height: 40px;
    top: 5px;
    width: 100px;
  }
  header div.hero {
    top: 100px;
  }
  header div.hero h1 {
    margin-bottom: 15px;
    font-size: .8em;
  }

  /* testimonials section */
  section.testimonials article.content blockquote p.quote {
    font-size: .95em;
    line-height: .95em;
  }

  /* product section */
  section.product {
    padding: 10px 10px;
    height: 680px;
    width: auto;
    margin: 0;
  }
  section.product article img {
    height: 30px;
    padding: 0;
  }
  section.product article {
    padding: 0 10px;
    background-size: 130px auto;
    background-position: 180px 470px;
    min-height: 330px;
  }

  /* contact us section */
  section.contact-us {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  section.contact-us aside div.content {
    margin: 0;
    padding: 0 0 10px 100px;
    background-size: 10px 10px;
    background-position: 55px 5px;
  }

  /* nav */
  nav {
    width: 150px;
    margin-top: 0;
    padding-top: 10px;
  }
  nav > ul > li {
    font-size: .6em;
  }
}

@media screen and (max-width: 320px) {
  header a.logo {
    left: 170px;
  }
  header div.hero {
    left: 138px;
  }
  a.btn {
    font-size: .5em;
  }

  /* testimonials section */
  section.testimonials article.content blockquote p.quote {
    font-size: .75em;
    line-height: .75em;
  }

  section.product {
    height: 730px;
  }
  section.product article {
    padding: 0 5px;
    background-position: 150px 520px;
    height: 730px;
  }
}